<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./public/css/style.css")
        title Skeleton Screen Loading
    body
        #app
            header.title-page
                h1
                p
                p
            ol.list-content
                li
                    .content-heading
                    .content-body
                        div
                        div
                        div
                li
                    .content-heading
                    .content-body
                        div
                        div
                        div
                li
                    .content-heading
                    .content-body    
                        div
                        div
                        div
                li
                    .content-heading
                    .content-body    
                        div
                        div
                        div 
                li
                    .content-heading
                    .content-body    
                        div
                        div
                        div
                li
                    .content-heading
                    .content-body    
                        div
                        div
                        div
            #footer
                p From Alfian Andi with &hearts;                                     
